.main{
    .search{
        .container{
            .top{
                padding: 40px 0px;
                .container{
                    background-color: rgb(37, 35, 35);
                    .d-flex{
                        height: 30vh;
                      h4{
                          font-family:  Friedrich Althausen;
                          letter-spacing: 2px;
                          font-size: 25px;
                          color: white;
                      }
                      div{
                        :nth-child(1){
                            transition: .5s;
                                    cursor: pointer;
                                    color: white;
                                    &:hover{
                                        color: purple;
                                    }
                        }
                        :last-child{
                            cursor: pointer;
                            color: white;
                        }
                    }
                  }
                }
                div{
                    .input-groups{
                        background-color: transparent;
                        background-color: black;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        height: 50px;
                        padding: 10px;
                        border-radius: 50px;
                        // box-shadow: 5px 5px 10px #252928;
                        box-shadow: 5px 5px 10px rgba(14, 13, 13, 0.6);
                        transition: all 1s;
                        width: 100px;
                        .form-control{
                            display: flex;
                            width: 0px;
                            font-size: 16px;
                            background: none;
                            outline: none;
                            border: none;
                            overflow: hidden;
                            color: #ffffff;
                            transition: all 1s;

                            &::-moz-placeholder {
                                color: #ffffff;
                                padding: 0 0 0 10px;
                                font-size: 16px;
                                opacity: 88%;
                              }
                            &:-ms-input-placeholder {
                              color: #ffffff;
                              padding: 0 0 0 10px;
                              font-size: 16px;
                              opacity: 88%;
                            }
                            &::placeholder {
                                color: #ffffff;
                                padding: 0 0 0 10px;
                                font-size: 16px;
                                opacity: 88%;
                              }
                            }
                            .form-control:focus {
                              border: none !important;
                              box-shadow: none !important;
                          
                            }
                        div{
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            height: 50px;
                            width: 30px;
                            border-radius: 50px;
                            color: #ffffff;
                            i{
                                color: white;
                            }
                        }
                        
                        &:hover{
                            width: 400px;
                            input{
                                width: 400px;
                            }
                            @media screen and (max-width:447px){
                                width: 330px;
                            }
                            @media screen and (max-width:354px){
                                width: 250px;
                            }
                        }
                    }
                    
                }
            }
            .searchProduct{
                    div{
                        position: relative; 
                            .cards{             
                            .card-body{
                                text-align: center;
                                color: white;
                                margin-top: 15px;
                                line-height: 50px;
                                h5{
                                    font-size: 20px;
                                    font-weight: bold;
                                    font-family:  Friedrich Althausen;
                                    transition: .5s;
                                    cursor: pointer;
                                    &:hover{
                                    color: #b367d0;
                                }
                                }
                                p{
                                    font-size: 20px;
                                    font-family:  Friedrich Althausen;
                                    transition: .5s;
                                    cursor: pointer;
                                    &:hover{
                                    color: #b367d0;
                                }
                                }
                            }
                            .hover{
                                position: absolute;  
                                top: 0;  
                                opacity: 0; 
                                visibility: hidden;
                                transition: .5s;
                                img{
                                 position: relative;
                                }                  
                                 .card-body{                              
                                    color: white;
                                    position: absolute;
                                    top: 38%;
                                    left: 33%;
                                    display: flex;
                                    align-items: center;
                                    justify-content: space-between;
                                         div{
                                             button{
                                                border: 1px solid rgb(22, 20, 20);
                                                background-color: rgb(22, 20, 20);
                                                color: white;
                                                padding: 6px 8px;
                                                transition: .5s;
                                                &:hover{
                                                    color: #b367d0;
                                                }
                                             }
                                         }
                                 }
                             }
                        }                     
                            // Hover Of Card
                            &:hover{
                                .hover{
                                    visibility: visible;
                                    opacity: 1;
                                }
                            }
                    }
            }
        }

    }
}

// Search Page Media Start
@media screen and (max-width:1396px) {
    .main{
        .search{
            .container{
                .searchProduct{
                    div{
                        .cards{
                            .hover{
                                .card-body{
                                    position: absolute;
                                    top: 40%;
                                    left: 30%;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
@media screen and (max-width:1198px) {
    .main{
        .search{
            .container{
                .searchProduct{
                    div{
                        .cards{
                            .card-body{
                                h5{
                                    font-size: 16px;
                                }
                            }
                            .hover{
                                .card-body{
                                    position: absolute;
                                    top: 40%;
                                    left: 27%;
                                    button{
                                        font-size: 14px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
@media screen and (max-width:993px) {
    .main{
        .search{
            .container{
                .searchProduct{
                    div{
                        .cards{
                            .card-body{
                                h5{
                                    font-size: 17px;
                                }
                            }
                            .hover{
                                .card-body{
                                    position: absolute;
                                    top: 36%;
                                    left: 18%;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
@media screen and (max-width:766px) {
    .main{
        .search{
            .container{
                .searchProduct{
                    div{
                        .cards{
                            .card-body{
                                h5{
                                    font-size: 20px;
                                }
                                p{
                                    font-size: 20px;
                                }
                            }
                            .hover{
                                .card-body{
                                    position: absolute;
                                    top: 36%;
                                    left: 22%;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
@media screen and (max-width:570px) {
    .main{
        .search{
            .container{
                .searchProduct{
                    div{
                        .cards{
                            .card-body{
                                h5{
                                    font-size: 25px;
                                }
                                p{
                                    font-size: 25px;
                                }
                            }
                            .hover{
                                .card-body{
                                    position: absolute;
                                    top: 47%;
                                    left: 31.5%;
                                    display: flex;
                                    justify-content: center;
                                    button{
                                        font-size: 25px;
                                        padding: 40px 47px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
@media screen and (max-width:480px) {
    .main{
        .search{
            .container{
                .searchProduct{
                    div{
                        .cards{
                            .card-body{
                                h5{
                                    font-size: 25px;
                                }
                                p{
                                    font-size: 25px;
                                }
                            }
                            .hover{
                                .card-body{
                                    position: absolute;
                                    top: 47%;
                                    left: 31%;
                                    display: flex;
                                    justify-content: center;
                                    button{
                                        font-size: 25px;
                                        padding: 40px 47px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
@media screen and (max-width:439px) {
    .main{
        .search{
            .container{
                .searchProduct{
                    div{
                        .cards{
                            .card-body{
                                h5{
                                    font-size: 25px;
                                }
                                p{
                                    font-size: 25px;
                                }
                            }
                            .hover{
                                .card-body{
                                    position: absolute;
                                    top: 47%;
                                    left: 26.5%;
                                    button{
                                        font-size: 25px;
                                        padding: 40px 47px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
@media screen and (max-width:397px) {
    .main{
        .search{
            .container{
                .searchProduct{
                    div{
                        .cards{
                            .hover{
                                .card-body{
                                    position: absolute;
                                    top: 43%;
                                    left: 26%;
                                    button{
                                        font-size: 25px;
                                        padding: 40px 47px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
@media screen and (max-width:335px) {
    .main{
        .search{
            .container{
                .searchProduct{
                    div{
                        .cards{
                            .hover{
                                .card-body{
                                    position: absolute;
                                    top: 43%;
                                    left: 20%;
                                    button{
                                        font-size: 25px;
                                        padding: 40px 47px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
@media screen and (max-width:300px) {
    .main{
        .search{
            .container{
                .searchProduct{
                    div{
                        .cards{
                            .hover{
                                .card-body{
                                    position: absolute;
                                    top: 40%;
                                    left: 20%;
                                    button{
                                        font-size: 20px;
                                        padding: 40px 47px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
// Search Page Media End